.container {
	min-height: 100vh;
	width: 100%;
	overflow-x: hidden;
	transform-style: preserve-3d;
}

.catalog {
	display: flex;
	align-items: center;
	width: 90%;
}

.color-active {
	color: aqua;
}


.bkg-color {
	background-color: #485461;
	// background-image: linear-gradient(135deg, #485461 0%, #28313b 74%);
	background-image: linear-gradient(135deg, #485461 -50%, #101418 74%);
}

.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}



.effects {
	transition: 0.3s;
	cursor: pointer;

	&:focus {
		cursor: pointer;
	}

	&:hover {
		transform: scale(1.2);
	}

	&:active {
		opacity: 0.9;
		box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset,
			0 -1px 0 rgba(255, 255, 255, 0.1) inset;
		box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset,
			0 -1px 0 rgba(255, 255, 255, 0.1);
	}
}

::-webkit-scrollbar {
	width: .1rem;
	background-color: #101418
}


.symbol::after {
	content: "⇲";
	padding-left: .5rem;
	color: crimson;
}