.card-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border-left: .1rem solid $dark-header;
}

.card {
	position: relative;
	width: 17rem;
	height: 19rem;
	margin: 0.7rem;
	border-radius: 1rem;
	border: .1rem solid transparent;
    box-shadow: rgb(0 0 0 / 30%) 1rem 1.5rem 0.6rem;
	overflow: hidden;
	transition: .5s ease-out;

	&:hover {
		border: .1rem solid $accent;
		transform: scale(1.05);
	}

	&__content {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 200;
		display: flex;
		position: absolute;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	
	&__body,
	&__footer {
		transform: translateY(4rem);
		transition: .3s ease-in-out;
	}

	&:hover &__title,
	&:hover &__body,
	&:hover &__footer {
		transform: translateY(-1.8rem);
		transition: .4s ease-in-out;
	}

	&__img {
		max-width: 100%;
		height: 12rem;
	}	
	&__title {
		padding-top: 3rem;
		color: $text-light;
		transition: .5s ease-in-out;
		font-family: 'Raleway-Regular';
	}

	&__body {
		width: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
		transition: .4s ease-in-out;
		// transition-delay: .3s;
	}

	&__price {
		font: 1.2rem;
		font-family: 'Times New Roman', Times, serif;
		color: rgb(49, 240, 111);
	}

	&__footer {
		transition: .3s ease-in-out;

	}
}

.rating-value {
	color: $text;
}

.star {
	font-size: 1.4rem;
	color: gold;
}


