.main {
	position: relative;
	width: 100%;
	left: 0;
	z-index: 5;
	overflow: hidden;
	transform-origin: left;
	transform-style: preserve-3d;
	transition: 0.5s;
}

header {
	min-height: 100vh;
	width: 100%;
	background: linear-gradient(180deg, rgb(255 255 255 / 0%) 40%, rgb(43, 51, 59, 0.8) 96%) center center/100% 100vh no-repeat,
	url('/images/index/brand.jpg') no-repeat center / cover;
	position: relative;
}



.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(32, 38, 43, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes appear {
	from {
		opacity: 0;
		transform: translateY(10px);
	}

	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes hide {
	from {
		opacity: 1;
		transform: translateY(0px);
	}

	to {
		opacity: 0;
		transform: translateY(10px);
	}
}

.shadow {
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	transform-style: preserve-3d;
	transform-origin: left;
	transition: 0.5s;
	background-color: rgba(163, 157, 157, 0.404);
}

.shadow.one {
	z-index: -1;
	opacity: 0.15;
}

.shadow.two {
	z-index: -2;
	opacity: 0.1;
}

.container.active .shadow.one {
	animation: shadow-one 0.6s ease-out;
	transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
}

@keyframes shadow-one {
	0% {
		transform: translate(0);
	}

	5% {
		transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
	}

	100% {
		transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
	}
}

.container.active .shadow.two {
	animation: shadow-two 0.6s ease-out;
	transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
}

@keyframes shadow-two {
	0% {
		transform: translate(0);
	}

	20% {
		transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
	}

	100% {
		transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
	}
}

.container.active .main:hover+.shadow.one {
	transform: perspective(1300px) rotateY(20deg) translateZ(230px) scale(0.5);
}

.container.active .main:hover {
	transform: perspective(1300px) rotateY(20deg) translateZ(340px) scale(0.5);
}





